*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  
}

h1 {
  position: absolute;
  top: -500px;
}
a {
  text-decoration: none;
  transition: linear .3s;
}
li {
  list-style-type:none;
}



p {
  font-family: Roboto;
  font-style: normal;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: linear .3s;
  cursor: pointer;
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
  margin: 0 auto;
  

}

.dark-section {
  background: #030303 no-repeat center;
  color: #fff;
  background-size: cover;
}

.video-section {
  padding-top: 90px;
  
  
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: calc(100% - 40px);

}

.section-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
/* identical to box height, or 112% */
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}


.section-title-dark {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
/* identical to box height, or 112% */
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.underline-title {
  position: relative;
}
.underline-title::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

header {
  background-color: #030303;
}

.header-container {
  display: flex;
  align-items: center;
  
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 50px;
 
}

.icon {
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  width: 199px;
  height: 34px;
  
}


.header-logo-text {
  padding-left: 75px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-navigation li>a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 50px;
/* identical to box height, or 227% */
  letter-spacing: 2px;
  color: #fff;
  padding-left: 56px;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  
}

/* .header-link {
  
} */

/* Welcome section */
 .welcome {
  position: relative;
  margin-right: -700px;
  z-index: 1;
  width: 100%;
  height: 388px;

} 
.welcome-title {
  margin-top: 150px;
  width: 598px;
  height: 180px;
}
.welcome-wrapper { 
  display: flex; 
  justify-content: space-between;
  padding-bottom: 15px;
}  
span {
  display: block;
}

.welcome-text {
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
/* identical to box height */
  letter-spacing: 2px;
  color: #fff;
  padding-top: 26px;
}

.welcome-button {
  border-radius: 10px;
  width: 360px;
  height: 75px;
  background-color: #710707;
  margin-top: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  letter-spacing: 2px;
  color: #FFFFFF;
  display: block; 
  text-align: center;
}

.welcome-button:hover {
  background-color: #9D8665;
}




/* welcome-slider */
 .welcome-slider {
  position: relative;
  z-index: 0;
  
 } 
.w-slide {
max-width: 1000px;
width: 100%;
height: auto;
position: relative;
}

.w-slide::before,
.w-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
}

.w-slide::before {
width: 100px;
height: 100%;
max-height: 750px;
-webkit-box-shadow: 40px 0px 28px -15px rgba(0,0,0,.9) inset;
-moz-box-shadow: 540px 0px 28px -15px rgba(0,0,0,.9) inset; 
box-shadow: 40px 0px 28px -15px rgba(0,0,0,.9) inset;
}

.w-slide-img-hidden {
  display: none;
}


.welcome-slider-progress {
  background-color: #000;
  max-width: 600px;
  width: 100%;
  max-height: 120px;
  height: 100%;
  position: relative;
  z-index: 3;
  right: -400px;
  top: -65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.progress-dots {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 75px;
}
.progress-counting {
  display: flex;
  font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 0px;
text-align: left;

  text-align: left;
  margin-left: 60px;
}

.progress-counting-line {
  margin: 0px 10px 0px 10px;
}
.dot {
  width: 16px;
  height: 16px;
  background-color: #fff;
  margin-right: 25px;
}
.dot:last-child {
  margin-right: 0;
}
.dot:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: 
  #D2B183;
  transition: linear .3s;
}
.active-dot {
  background-color: 
  #D2B183;
}

.arrows {
  position: relative;
  margin-right: 90px;
}

.arrow-right
{
  display: block;
  position: absolute;
  
  width: 30px;
  height: 1px;
  background-color: #fff;
}
.arrow-left:hover,
.arrow-right:hover {
  transform: scale(1.1);
  transition: linear .3s;
}

.arrow-right:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 1px;
  background-color: #fff;
  transform: rotate(-45deg);
  transform-origin: 100% 0%;
}

.arrow-right:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 1px;
  background-color: #fff;
  transform: rotate(45deg);
  transform-origin: 100% 0%;
}

.arrow-left {
  display: block;
  position: absolute;
  
  width: 30px;
  height: 1px;
  background-color: #fff;
  right: 20px;
}
.arrow-left:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 1px;
  background-color: #fff;
  transform: rotate(-45deg);
  transform-origin:0% 000%;
}

.arrow-left:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 1px;
  background-color: #fff;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
}


/* Visiting */

.card {
  display: block;
}
.card-container {
  padding-top: 102px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  justify-content: space-between;
  column-gap: 60px;
  row-gap: 76px;
}

.visiting-title {
  padding-top: 3px;
}
.card-image {
  width: 440px;
  height: 285px;
}

.card-title {
  padding-bottom: 12px;
  padding-top: 21px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.card-subtitle {
  padding-top: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
/* identical to box height */
  color: #000000;
}

.card-text {
  padding-top: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
/* identical to box height */
  color: #000000;
}

.card-underline {
  position: relative;
  
}
.card-underline::after {
 
  content: "";
  position: absolute;
  width: 300px;
  height: 2px;
  background-color: #710707;
  transition: all 1s ease-out;
}

.card:hover .card-underline::after {
  width: 100%;
}



/* Explore */

.container-explore {
  display: flex;
  justify-content: space-between;
}

.explore-text {
  max-width: 658px;
  margin-top: 104px;
}

.explore-subtext {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
/* or 175% */
  color: #FFFFFF;
  margin-top: 27px;
}

.colortext {
  color: #CAAA7D;
  background-color: transparent;
}

.explore-image {
  padding-top: 14px;
  max-width: 700px;
  width: 100%;
  max-height: 720px;
  height: auto;
}



/* video */

.video-player {
  display: flex;
  flex-direction: column;
}
.video-controls {
  height: 85px;
  background-color: #000000;
  margin-top: -1px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.button-control {
  display: flex;
  justify-content: space-between;
  align-items:center;
  
}

.volume {
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 213px;
}


.video-play{
 background-image:url(./images/play.svg);
 background-size: cover;
  width: 23px;
 
  height: 30px;
  
  background-position:center;
  cursor: pointer;
  background-repeat:no-repeat;
  background-color: transparent;
}

.video-poster {
  position: relative;
  height: auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.video {
  width: 100%;
  height: auto;
  object-fit: fill;
  
}
.video-button {
background-image: url(./images/playinvideo.svg);
position: absolute;
z-index: 1;
width: 220px;
height: 220px;
background-color: transparent;
}



.video-play:hover {
  transform: scale(0.98);
}

.progress {
  background: linear-gradient(to right, #24809E 0%, #24809E 46%, #C4C4C4 46%, #C4C4C4 100%);
  height: 8px;
  background-size: cover;
  width: 60vw;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: #FFFFFF;
}

.volume-icon {
  background-image:url(./images/volume.svg);
  width: 38px;
  height: 30px;
  background-position:center;
  cursor: pointer;
  background-color: transparent;
}

.progress-volume {
  background: linear-gradient(to right, #24809E 0%, #24809E 50%, #C4C4C4 50%, #C4C4C4 100%);
  height: 8px;
  width: 10vw;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress-volume::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: #FFFFFF;
}

.scale-icon {
 background-image:url(./images/scale.svg);
  width: 36px;
  height: 36px;
  background-position:center;
  cursor: pointer;
  background-color: transparent;
}

.scale-icon:hover {
  transform: scale(0.98);
}


.video-description {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  margin-top: 40px;
}

.video-title {
  max-width: 720px;
  
}

.video-description-text {
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 38px;
/* or 175% */

color: #000000;
max-width: 720px;
padding-top: 5px;
}


/* tickets */
.tickets-buy {
  display: flex;
  justify-content: space-between;
  width: 662px;
}

.tickets-content {
  padding-top: 103px;
  display: flex;
  justify-content: space-between;
}

.tickets-image {
  width: 100%;
  max-width: 550px;
  height: auto;
}
.exposition-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
/* identical to box height */
  color: #FFFFFF;
}

label {
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 26px;
/* identical to box height */
color: #FFFFFF;

}

#radio {
  margin-top: 40px;
  width: 17px;
  height: 17px;
}

.exposition {
  left: 0;
  padding-left: 3px;
}
.exposition-label {
  margin-top: 50px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #000;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
  background-color: #000;
} */

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
     top: 5px;
    left: 5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}


.amount {
  display: flex;
  flex-direction: column;
  text-align: right;
}
/* button for amount */
.quantity_inner * {
  box-sizing: border-box;    
}    
.quantity_inner {
  display: flex;
  border-radius: 0px;
  border: 3px solid #fff;
  width: 144px;
  height: 43px;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 10px;
}  

.button-age {
  margin-top: 14px;
}

.button-age2 {
  margin-top: 40px;
  margin-bottom: 50px;
}


.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
  height: 40px;
  width: 40px;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
 .quantity {
   padding-left: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
/* identical to box height */
  text-align: center;
  color: #FFFFFF;
  }
.quantity_inner .bt_minus svg,
.quantity_inner .bt_plus svg {
  stroke: #ffff;
  stroke-width: 4;
  transition: 0.5s;
  margin: 10px;
}    
.quantity_inner .bt_minus:hover svg,
.quantity_inner .bt_plus:hover svg {
  stroke: #ccc;
}

.age-text2 {
  padding-right: 52px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.age-text1 {
  padding-right: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.total-title {
  letter-spacing: 1.65px;
  margin-bottom: 52px;
}
.buy-button {
  background-color: #fff;
  width: 175px;
  height: 50px;
  color: #000;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
}

.buy-button:hover {
  background-color: #9D8665;
}

/* contacts */

.contacts-content {
  display: flex;
  justify-content: space-between;
  padding-top: 102px;
}

.contacts {
  padding-top: 11px;
}
.contacts-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.contacts-data {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 45px;
  padding-top: 30px;
}

.map {
  width: 100%;
  max-width: 960px;
  height: auto
}

/* footer */

.footer {
  background-color: #000;
  padding-top: 84px;
  padding-bottom: 70px;
 
}

.footer-wrapper,
.footer-left {
  display: flex;
  justify-content: space-between;
}

ul>li>a {
  color: #fff;
}


.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 516px;
  justify-content: space-between;
  column-gap: 60px;
  row-gap: 16px;
  height: 150px;
  margin-top: -4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #fff;
  margin-left: 70px;
}
.footer-link {
  width: calc(100% / 3);
}

.social-navigation {
  display: flex;
  margin-top: 80px
}



.video-button:hover, .icon:hover, .social-link:hover {
  cursor: pointer;
  transform: scale(1.01);
  filter: invert(58%) sepia(11%) saturate(1082%) hue-rotate(
356deg) brightness(91%) contrast(85%);
  transition: linear .3s;
}



li>a:hover {
  color: #9D8665;
  transform: scale(0.98);
  
}

