* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* transition: all 0.5s ease; */
}
body {
  min-width: 480px;
  height: 100vh;
  
  color: #fff;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.header {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.main {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.background {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /*  background-image: url("https://raw.githubusercontent.com/irinainina/ready-projects/momentum/momentum/assets/images/night/17.jpg")
      center/cover,
    rgba(0, 0, 0, 0.5); */
  background-blend-mode: multiply;
  transition: all 1s ease-in-out;
  z-index: 0;
}
.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transition: all 0.5s ease;
  width: 50px;
  height: 60px;
}
.prev-button {
  left: 0;
  background-image: url(./assets/svg/slider-prev.svg);
}
.next-button {
  background-image: url(./assets/svg/slider-next.svg);
  right: 0;
}
.next-button:hover,
.prev-button:hover,
.player-prev-btn:hover,
.player-play-btn:hover,
.player-next-btn:hover,
.player-pause-btn:hover {
  transform: scale(0.95);
  opacity: 0.5;
}

.time-date-block {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;

  color: #fff;
  text-align: center;
  /* text-decoration: underline #fff; */
}
.date {
  font-size: 40px;
}
.time {
  font-size: 100px;
}
.time-wrapper {
  text-align: center;
  position: relative;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}
.greeting-wrapper {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.input-name,
.city-input {
  background: rgb(24%, 23%, 23%, 0.3);
  border: transparent;
  text-align: center;
  font-size: 32px;
  color: #fff;
  border-bottom: #fff 1px solid;
  transition: all 0.5s ease;
  border-radius: 10px;
}
.input-name:hover,
.city-input:hover
{
  background: rgba(184, 78, 78, 0.6);
  
}
.city-input {
  font-size: 24px;
  text-align: left;
  width: 100%;
  max-width: 150px;
  margin-top: 25px;
  
}

.weather-wrapper {
  position: relative;
  width: 100%;
  max-width: 200px;
  height: 350px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgb(24%, 23%, 23%, 0.3);
  border-radius: 30px;
}
.weather-img {
  font-size: 84px;
  width: 40px;
  height: 40px;
  opacity: 1;
}
.weather-description {
  width: 90%;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.weather-description,
.weather-humidity,
.weather-wind {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.8;
}
.weather-temperature {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 44px;
  color: #fff;
  width: 200px;
}

.player-wrapper {
  position: relative;
  width: 100%;
  max-width: 230px;
  height: 350px;
  border-radius: 30px;
  background: rgb(24%, 23%, 23%, 0.3);
}
.player-title {
  text-align: center;
  font-size: 24px;
  color: #fff;
  text-decoration: underline #fff;
  margin-top: 5px;
  margin-bottom: 10px;
}
.current-song {
  text-align: center;
  font-size: 18px;
  color: #fff;
  opacity: 0.6;
  margin-bottom: 20px;
}
.audio-time,
.audio-time-duration
 {
  
  text-align: center;
  
}
.progress-container {
  background: #e4e9ed;
  width: 230px;
  height: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.progress {
  
  border-radius: 5px;
  height: 6px;
  width: 100%;
  
}

.player-prev-btn {
  background-image: url(./assets/svg/play-prev.svg);
}

.player-next-btn {
  background-image: url(./assets/svg/play-next.svg);
}
.player-play-btn {
  background-image: url(./assets/svg/play.svg);
  width: 60px;
  height: 60px;
  background-size: cover;
  transition: all 0.5s ease;
}

.play {
  background-image: url(./assets/svg/pause.svg);
  width: 60px;
  height: 60px;
  background-size: cover;
  transition: all 0.5s ease;
}
.player-prev-btn,
.player-next-btn {
  background-size: cover;
  width: 40px;
  height: 40px;
  transition: all 0.5s ease;
}

.player-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 190px;
  width: 100%;
  margin: 0 auto;
}
.play-list {
  margin-left: 16px;
  margin-top: 20px;
}
.play-list-song {
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.song-active {
  opacity: 0.8;
}

.play-list-song:hover{
 color: gold;
 opacity: 0.5;
 cursor: pointer;
}

.active-song {
  color: gold;
 opacity: 1;
}